<html>

<head>
    <!--
        https://medium.com/@noufel.gouirhate/build-a-simple-chat-app-with-node-js-and-socket-io-ea716c093088xc
        https://hmh.engineering/experimenting-with-apache-kafka-and-nodejs-5c0604211196
        https://www.sitepoint.com/using-redis-node-js/
    -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script>
        function initSocket() {
            //socket is global
            socket = io.connect();
            alert("connected");
        }

        function sendMessage(total) {
            socket.emit("totalWaitingCalls", { totalWaiting: total });
        }
    </script>
    <script>

        const daysInWeek = {  // enum for days in the week
            0: "Sunday",
            1: "Monday",
            2: "Tuesday",
            3: "Wednesday",
            4: "Thursday",
            5: "Friday",
            6: "Saturday",
        }

        function startConv() {
            var tr = document.getElementById('openConversations').insertRow();
            var cStart = tr.insertCell(0);
            var cEvent = tr.insertCell(1);
            var cSection = tr.insertCell(2);
            var cCarType = tr.insertCell(3);
            var cDay = tr.insertCell(4);
            var cDayInWeek = tr.insertCell(5);
            var cEnd = tr.insertCell(6);

            const date = Date.now();
            const dayInWeek = new Date().getDay().toString();

            const dateTimeFormat = new Intl.DateTimeFormat('en', { year: 'numeric', month: 'short', day: '2-digit', hour: 'numeric', minute: 'numeric' })
            const [{ value: month }, , { value: day }, , { value: year }, , { value: hour }, , { value: minute }] = dateTimeFormat.formatToParts(date)

            cStart.innerHTML = "<div id='" + date + "''>" + `${day}-${month}-${year} ,${hour}:${minute}` + "</div>";
            cEvent.innerHTML = "<select><option value='enterRoad'>כניסה לכביש</option><option value='enterSection'>כניסה למקטע</option><option value='exitRoad'>יציאה מהכביש</option><option value='exitSection'>יציאה ממקטע</option></select>";
            cSection.innerHTML = "<select><option value='1'>1</option><option value='2'>2</option><option value='3'>3</option><option value='4'>4</option><option value='5'>5</option></select>";
            cCarType.innerHTML = "<select><option value='private'>פרטית</option><option value='van'>מסחרית</option><option value='truck'>משאית</option></select>";
            cDayInWeek.innerHTML = "<div id='" + daysInWeek[dayInWeek] + "''>" + `${daysInWeek[dayInWeek]}` + "</div>";
            cDay.innerHTML = "<select><option value='regularDay'>יום רגיל</option><option value='specialDay'>יום מיוחד</option></select>";
            cEnd.innerHTML = "<button onclick='reportEndCall(this.parentNode.parentNode)'>סיום</button>";
        }

        function reportEndCall(row) {
            var totalCalls = parseInt(document.getElementById("total").value) || 0;
            if (parseInt(totalCalls) > 0) {
                document.getElementById("total").value = (--totalCalls) + "";
            }

            var message = {};
            //message.id = row.cells[0].getElementsByTagName('div')[0].id;
            message.event = row.cells[1].getElementsByTagName('select')[0].value;
            message.section = row.cells[2].getElementsByTagName('select')[0].value;
            message.carType = row.cells[3].getElementsByTagName('select')[0].value;
            message.day = row.cells[4].getElementsByTagName('select')[0].value;
            message.dayInWeek = (row.cells[5].getElementsByTagName('div'))[0].id;
            //message.totalTime = (parseInt(Date.now()) - parseInt(message.id)) / 1000; // seconds
            socket.emit("callDetails", message);
            deleteRow(row);
        }

        function deleteRow(row) {
            var i = row.rowIndex;
            document.getElementById('openConversations').deleteRow(i);
        }

    </script>
</head>

<body onload="initSocket()">
    Total Waiting calls:
    <input type="number" id="total" min="0" max="200" value="0">
    <input type="button" value="Set" onclick="sendMessage(total.value)" />
    &nbsp;
    <select><option value='Emergency'>חירום</option><option>שגרת חירום</option><option>רגיעה</option></select>
    <hr>
    <input type="button" onclick="startConv()" value="Answer Call" />
    <table id="openConversations" border="1" style="background-color: burlywood;">
        <tr>
            <th>Start Time</th>
            <th>Event</th>
            <th>Section Number</th>
            <th>Car-Type</th>
            <th>Day</th>
            <th>Day in week</th>
            <th>End</th>
        </tr>
    </table>
</body>

</html>
